.default-form {
    background: #FFFFFF;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.top-text-middle {
    margin: 0 auto;
    font-size: 16px;
}

.top-text-left {
    width: 267px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Single Day', cursive;
}

.login-input {
    width: 267px;
    height: 45px;
    margin: 0 auto;
}

.party-input {
    width: 267px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Single Day', cursive;
}

.party-name-input {
    margin-bottom: 10px;
}

.register-input {
    width: 267px;
    height: 45px;
    margin: 0 auto;
    text-align: left;
}

.register-input span {
    color: red;
    margin-left: 2px; /* 원하는 간격 조절 */
}

.input-box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    padding: 10px;
    border-radius: 5px;

    margin-top: 10px;
}

.party-name-box {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 130px;
    margin-top: 20px;
    font-family: 'Single Day', cursive;
    text-align: center;
    margin-left: 101px;
}

.party-save-calender-box {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 90px;
    font-family: 'Single Day', cursive;
    margin-left: 144px;
    text-align: right;
}

.party-content-input {
    margin-top: 10px;
}

.party-content-box {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Single Day', cursive;
}

.calender-box {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 90px;
    font-family: 'Single Day', cursive;
}

.registerput-box {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    padding: 10px;
    border-radius: 5px;

    margin-bottom: 10px;
}

.loginButton {
    width: 267px;
    height: 45px;
    margin: 10px auto;
    background: #000000;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
}

.registerButton {
    width: 267px;
    height: 45px;
    margin: 0px auto;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    color: #000000;
}

.searchButton {
    background: #6E90E7;
    border: 1px solid #929292;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Single Day', cursive;
    color: #000000;
}

.createButton {
    box-sizing: border-box;
    width: 267px;
    background: #6EE789;
    border: 1px solid #929292;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Single Day', cursive;
    cursor: pointer;
}

.calender-search p {
    display: inline;
}

.party {
    margin: 0 auto;
    width: 276px;
    border: 1px solid #929292;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'Single Day', cursive;
}

.party p {
    padding-left: 10px; 
    align-items: center;
}

.party-date {
    color: #929292; 
    font-size: 14px;
    font-family: 'Single Day', cursive;
}

.saveButton {
    box-sizing: border-box;
    width: 267px;
    background: #6EE789;
    border: 1px solid #929292;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Single Day', cursive;
    cursor: pointer;
}

.party-info {
    width: 267px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Single Day', cursive;
    
}

.expense {
    margin: 0 auto;
    width: 276px;
    border: 1px solid #929292;
    text-align: left;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px; 
    font-family: 'Single Day', cursive;
}


.expenseButton {
    width: 267px;
    margin: 0 auto;
    background: #6EE789;
    border-radius: 5px;
    border: 1px solid #929292;
    cursor: pointer;
    font-family: 'Single Day', cursive;
}

.createButton {
    box-sizing: border-box;
    width: 267px;
    background: #6EE789;
    border: 1px solid #929292;
    border-radius: 5px;
    margin-top: 10px;
    font-family: 'Single Day', cursive;
    cursor: pointer;
}

.expense-input {
    width: 267px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Single Day', cursive;
}

.expense-price-input {
    margin-bottom: 10px;
}

.expense-price-box {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 130px;
    margin-top: 20px;
    font-family: 'Single Day', cursive;
    text-align: center;
    margin-left: 101px;
}

.expense-content-box {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Single Day', cursive;
}

.inviteCodeButton {
    box-sizing: border-box;
    width: 267px;
    background: #6EE7E9;
    border: 1px solid #929292;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Single Day', cursive;
    cursor: pointer;
}

.expense-info {
    width: 267px;
    margin: 0 auto;
    text-align: left;
    font-family: 'Single Day', cursive; 
}

.expense-payerName p {
    display: inline;
}

.payerName{
    padding-left: 172px;
}

.expense-price p {
    display: inline;
}

.expense-price {
    margin-top: 10px;
}

.payerName{
    padding-left: 172px;
}

.price{
    padding-left: 150px;
}

.expense-member-list{
    margin-top: 10px;
}

.expense-individual-price p {
    display: inline;
}

.individualPrice{
    padding-left: 165px;
}

.expense-individual-price {
    margin-top: 10px;
}

.expense-comment-box {
    background: #FFFFFF;
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    font-family: 'Single Day', cursive;
}

.replyButton {
    box-sizing: border-box;
    width: 60px;
    background: #FFFFFF;
    border: 1px solid #929292;
    border-radius: 5px;
    font-family: 'Single Day', cursive;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px; 
}

.replySaveButton, .cancelButton {
    box-sizing: border-box;
    width: 60px;
    background: #FFFFFF;
    border: 1px solid #929292;
    border-radius: 5px;
    font-family: 'Single Day', cursive;
    cursor: pointer;
    display: inline-block;
}

.expense-comment-list p {
    margin-left: calc(var(--depth) * 10px);
}